/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --verde-fundo: #152515;
  --amarelo: #e3b062;
  --verde-claro: #498b49;
}

@font-face {
  font-family: Days;
  src: url(../assets/fonte/28DaysLater.ttf);
}

@font-face {
  font-family: UrbanJungle;
  src: url(../assets/fonte/UrbanJungleDEMO.otf);
}


body {
  margin: 0;
  padding: 0;
  font-family: DayS;
}

.janela {
  width: 100vw;
  height: 100vh;
  background-color: var(--verde-fundo);
  display: flex;
  justify-content: space-between;
}

.header-left {
  background-color: black;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.links {
  width: 100%;
  text-align: center;
  height: 100%;
}

.links .btn-link {
  padding: 40px 0px 0px 0px;
}

.links .btn-link a {
  text-decoration: none;
  outline: none;
  color: white;
  letter-spacing: 1px;
  font-size: 40px;
}


.fundo {
  width: 230px;
  margin-bottom: 100px;
}

.hello {
  border-top: 1px white solid;
  padding: 20px 20px 20px 20px;
  width: 90%;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}

.hello span {
  color: white;
  font-size: 24px;
  font-family: "Poppins";
  width: 55%;
  height: 50%;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 10px;
}

.img-hello {
  border-radius: 55%;
  border: 1px white solid;
  overflow: hidden;
  height: 80%;
  width: 15%;
}

.img-hello img {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-logout {
  cursor: pointer;
  
}

.btn-logout img {
  width: 40px;

}


.dashboard {
  width: 80%;
  height: 99vh;
  display: flex;
  flex-direction: row-reverse;
}

.ranking {
  width: 20%;
  height: 100%;
  margin-left: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranking span {
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 50px;

}

.tabela-ranking {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #401616;
  top: 10%;
  display: flex;
  align-items: center;
}

.tabela-ranking table {
  color: white;
  width: 100%;
}

.tabela-ranking tbody tr:nth-child(1) {
  background-color: #4f524c;
  font-family: DayS;
  font-size: 30px;
}

.tabela-ranking tbody tr {
  font-family: monospace;
  display: flex;
  background-color: #1c2118;
  font-size: 22px;

}

.tabela-ranking tbody th {
  border: 1px #cccccc solid;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.graficos {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* cards kpis */
.container-kpis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
}

.kpi {
  border: 1px white solid;
  width: 30%;
  height: 60%;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.kpi span{
  font-size: 30px;
}

.kpi #mTempo{
  font-family: sans-serif;
  font-size: 30px;
  margin: 0;
  padding-top: 10%;
}

#dtMelhorTempo{
  padding-top: 3%;
}

.kpi #quantidadeTotal{
  font-family: sans-serif;
  font-size: 40px;
}
.kpi #pontosTotal{
  font-family: sans-serif;
  font-size: 40px;
}


/* graficos com dados */
.container-graficos {
  display: flex;
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
}

.grafico-1 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grafico1{
  width: px;
  display: flex;
  height: 10px;
}

.grafico-2 {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

#grafico2{
  width: 80%;
  height: 80%;
}

.grafico-3 {
  width: 100%;
  height: 50%;
  display: flex;
}

#grafico3{
  width: 80%;
  height: 80%;
}