/* importação das fontes */
@font-face {
    font-family: Days;
    src: url(../assets/fonte/28DaysLater.ttf);
 }
 @font-face {
    font-family: UrbanJungle;
    src: url(../assets/fonte/UrbanJungleDEMO.otf);
 }


/* Adicionar aqui toda a estilização criada para sua aplicação. */
body {
    margin: 0;    
}

body::-webkit-scrollbar {
  display: none;
}


html{
    scroll-behavior: smooth;
}

:root {
    --verde-fundo: #152515;
    --amarelo: #e3b062;
}

.img-perfil {
  border-radius: 55%;
  border: 1px white solid;
  overflow: hidden;
  height: 3vh;
  width: 30%;
}

.img-perfil img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 10px;
}

/*HEADER*/
.header {
    background-color: black;
    height: 60px;
    width: 100%;
    margin: 0;
}

.fixed{
  position: fixed;
  top: 0;
  z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 570px 0px 10px;
    height: 100%;
    
}

.fundo{
    padding-bottom: 0px;
    width: 130px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    width: 300px;
    align-items: center;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    
    
}

.navbar li:nth-child(1),
.navbar li:nth-child(2),
.navbar li:nth-child(3)
{
    padding: 0 30px;
    word-spacing: 5px;
    font-family: Days;
}

.navbar li:nth-child(4){
    padding: 0 250px 0px 20px;
    word-spacing: 5px;
    font-family: Days;
}

.navbar li:nth-child(5),
.navbar li:nth-child(6){
    padding: 0 10px 0 0;
    word-spacing: 5px;
    font-family: UrbanJungle;
}

.navbar li:nth-child(7){
    font-family: UrbanJungle;
}

ul {
    display: flex;
  }

#perfil{
    position: absolute;
    left: 93%;
}

#sessao{
    position: absolute;
    left: 90%;
}
#sessao1{
    position: absolute;
    left: 93%;
}
#sessao2{
    position: absolute;
    left: 93.7%;
}


/*BANNER - Pagina-1*/
.banner {
    height: 95vh;
    width: 100%;
    background-image: url(../assets/imgs/home.png);
    background-size: cover;
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#span-2{
    font-family: initial;
}

.banner .container span {
    font-weight: bolder;
}

.texto-inicio{
    width: 400px;
    height: auto;
    margin-right: 600px;
}

.titulo-inicio{
    color: white;
    font-size: 54px;
    font-family: UrbanJungle;
    margin-bottom: 30px;
}


.sobre-inicio{
    color: white;
    word-spacing: 5px;
    font-family: Days;
}




/*Pagina 2*/
.pagina-2 {
    height: 93vh;
    width: 100%;
    background-color: var(--verde-fundo);
    scroll-margin-top: 60px;
}

.pagina-2 .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins";
    font-weight: 400;
}

.pagina-2 .linha{
    height: 1px;
    background-color: black;
    width: 95%;
}

/*box 1*/

.pagina-2 .box1{
    width: 95%;
    height: 40vh;
    display: flex;
}

.pagina-2 .box1 div:nth-child(2){
    width: 50%;
    padding-left: 150px;
    font-size: 21px;
    padding-top: 0;
    margin: 0;
}

.pagina-2 .box1 img{
    width: 65vh;
    height: 350px;
}

.pagina-2 .box1 p{
    color: white;
}

.pagina-2 .box1 span{
    color: red;
}


/* box 2 */
.pagina-2 .box2{
    width: 95%;
    height: 40vh;
    display: flex;
}

.pagina-2 .box2 div:nth-child(2){
    width: 50%;
    padding-left: 150px;
    font-size: 22px;
}

.pagina-2 .box2 img{
    width: 65vh;
    height: 350px;
}

.pagina-2 .box2 span{
    color: red;
    font-family: Days;
}

.pagina-2 .box2 p{
    color: white;
}



.linha2{
    height: 1px;
    background-color: red;
    width: 95%;
}



/*Pagina 3*/
.pagina-3 {
    height: 285vh;
    width: 100%;
    background-color: var(--verde-fundo);
    padding: 40px 0px 0px 0px;
}

.pagina-3 .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 10px;
}

.pagina-3 .card3{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    
    
}

.pagina-3 h4{
    margin-bottom: 0;
}


/* Cards de Item */
.card{
    width: 30%;
    height: 70%;
}

.card span{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: DayS;
}

.card-itens{
    border: 1px white solid;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    
}
.card-itens p{
    font-size: 21px;
    text-align: justify;
    width: 90%;
    height: 20%;
}

.card-itens img{
    border-radius: 30px;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.card-itens button{
    margin-top: 5%;
    width: 50%;
    height: 10%;
    font-size: 25px;
    font-family: "Poppins";
}


/*Pagina 4*/
.pagina-4 {
    height: 95vh;
    width: 100%;
    background-color: var(--verde-fundo);
}

.pagina-4 .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.mapa{
    width: 90%;
    height: 100%;
}

.pagina-4 h4{
    margin-bottom: 0;
}
/*LOGIN */
.login .container {
    height: 716px;
    width: 100%;
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .card-login{
    background-color: #dcdcdc;
    border-radius: 20px;
    height: auto;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    padding:  0 50px 25px;
    flex-direction: column;
}




.login .card h2{
    color: #da4f86;
    text-align: center;
    font-size: 32px;
}

.formulario{
    font-weight: bolder;
}

.formulario .campo input{
    border: #32b9cd solid 1px;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.formulario .campo span{
    color: #da4f86;
    align-self: flex-start;
}


.formulario .botao{
    background-color: #e4005a;
    color: white;
    border: 0;
    height: 30px;
    width: 20%;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*CADASTRO*/
.card-cadastro{
    background-color: #dcdcdc;
    border-radius: 20px;
    height: 500px;
    width: 600px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding:  0 60px 20px;
}
