:root {
    --verde-fundo: #152515;
    --amarelo: #e3b062;
}
body{
  background-color: var(--verde-fundo);
}
body::-webkit-scrollbar {
  display: none;
}


/*Todos carrosseis */
swiper-container {
    width: 100%;
    padding-top: 100px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }


  .carrossel-1{
  color: white;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}

.carrossel-1 h1{
  top: 80px;
  position: relative;
  font-family: "Poppins";
}


.btn-todos{
 position: absolute;
 width: 6%;
 height: 4%;
 background-color: #152515;
 color: white;
 font-size: 15px;
 font-family: "Poppins";
 margin-top: 0.5%;
 margin-left: 92%;
 overflow: hidden;
 z-index: 30;
}

.titulo-3{
    font-size: 50px;
    font-family: DayS;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nome-itens{
    order: 1;
    z-index: 99;
    position: relative;
    font-family: "Poppins";
    
}



/* Estilo do Card */
.cards-itens{
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item{
  display: flex;
  justify-content: space-between;
  background-color: #587054;
  border-radius: 10px;
  width: 40%;
  margin-top: 40px;
 
}

.nome-img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item .descricao{
  border-left: 1px rgb(255, 255, 255) solid;
  padding: 0px 20px;
  width: 50%;
  font-family: sans-serif;
  color: white;
}
.item .descricao h1{
  color: black;
}

.item .descricao h4{
  color: rgb(240, 37, 37);
}

.nome-img img{
  width: 70%;
  background-color: rgb(37, 37, 37);
  border-radius: 3px;
}

.nome-img span{
  font-size: 37px;
  text-align: center;
}

.utilizado{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  
}

.nome-img .utilizado{
  display: flex;
  width: 100%;
}



/* Acessórios */
.utilizado table{
  color: white;
  width: 80%;
}

.utilizado tbody tr:nth-child(1){
  background-color: #4f524c;
  font-size: 30px;
}

.utilizado tbody tr{
  display: flex;
  background-color: #1c2118;
  font-size: 14px;
  
}

.utilizado tbody th{
  border: 1px #cccccc solid;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


/* Animais */
.drops{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(99, 19, 19);
}
.drops span{
  font-size: 20px;
  margin-bottom: 10px;
}

.drops table{
  color: white;
  width: 100%;
}


.drops tbody tr{
  display: flex;
  background-color: #1c2118;
  font-size: 14px;
  
}

.drops tbody th{
  border: 1px #cccccc solid;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Armadilhas e Granadas */
.subcategoria{
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.sub{
  font-size: 14px;
  font-family: DayS;

}

.subcategoria p{
  font-size: 30px;
  margin: 0;
}


/* Carregadores e Munição */

.carregadores{
  display: flex;
  width: auto;
  font-size: 13px;
}


.carregadores .municao div:nth-child(1){
  background-color: #4f524c;
  font-size: 20px;
  color: white;
  padding: 10px;
  border: 1px white solid;
}

.carregadores .municao div{
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #1c2118;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px white solid;
  border-collapse: collapse;
}

.carregadores .carregador div:nth-child(1){
  background-color: #4f524c;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-left: 0;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-right: 1px white solid;
}

.carregadores .carregador div{
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #1c2118;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px white solid;
  border-collapse: collapse;
}


/* TODOS OS ITENS */
.container-todos{
  
}