body{
    margin: 0;
    background-color: var(--verde-fundo);
}

:root {
    --verde-fundo: #152515;
    --amarelo: #e3b062;
}

.container-trilha{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trilha{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.checkpoint1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    border: 1px white solid;
    cursor: pointer;
}

.checkpoint1 span{
    height: 20%;
    font-size: 20px;
    font-family: "Poppins";
}

.checkpoint1 progress{
    appearance: none;
}

.checkpoint1 .barra{
   width: 80%;
   height: 10%;
   background-color: grey;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.checkpoint1 .progresso{
    width: 0;
    height: 100%;
    background-color: green;
    
 }

 .checkpoint1 .texto-progresso{
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 20px 0px 0px 0px;
    text-align: center;
 }


.capa{
    width: 100%;
    height: 50%;
}
.capa img{
    width: 100%;
    height: 100%;
}

#check1{
   align-self: flex-end;
}



#check3{
   align-self: flex-end;
}



#check5{
   align-self: flex-end;
}



#check7{
   align-self: flex-end;
}



#check9{
   align-self: flex-end;
}




.videos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
}

.video{
    z-index: 99;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

.video img{
    position: absolute;
    left: 83%;
    top: 15%;
    width: 40px;
    cursor: pointer;
}

.video video{
    width: 90%;
    height: 90%;
}

.titulo{
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 80px;
    color: white;
    font-family: DayS;
}